DEFAULT_URL=myawesomesite.org
PORT=3000
SECRET_KEY_BASE=<%= SecureRandom.hex(64) %>
REDIS_URL=redis://localhost:6379/<%= rand(16) %>

# AWS Credentials
AWS_REGION=us-east-1
AWS_PUBLIC=aws-public-key
AWS_SECRET=aws-secret-key
AWS_BUCKET=aws-bucket

# Messaging
SMTP_USERNAME=sendgrid-username
SMTP_PASSWORD=sendgrid-password

# Error Tracking
SENTRY_DSN=sentry-dsn
